/.hg/*
/.idea/*
/log/
/upload/

**/asset/dist/
**/config/*.local.js
**/web/vendor/

/data/*
!/data/default/

/metadata/*
!/metadata/app/

*.log
npm-debug.log*

pids
*.pid
*.seed

node_modules
jspm_packages
package-lock.json

.grunt
.lock-wscript
.node_repl_history
.npm
.nyc_output