<!-- default/_playback -->
<div class="page" data-page="playback" data-handler="PlaybackPage">

    <div class="page-head">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="#" data-action="main" data-t="">Club</a></li>
            <li class="game-item breadcrumb-item">
                <span class="game-item-name"></span>
                <span class="game-item-default" data-t="">Game</span>
            </li>
        </ol>

        <div class="ml-auto"></div>

        <div class="d-flex">
            <button class="nav-btn nav-btn-primary btn" data-command="info" title="Info" data-toggle="dropdown">
                <i class="fas fa-info"></i>
            </button>
            <div class="play-info dropdown-menu dropdown-menu-right"></div>
        </div>
    </div>

    <div class="alert-error alert-danger alert"></div>

    <div class="page-loader">
        <i class="fa fa-spinner fa-spin"></i>
        <span data-t="">Loading...</span>
    </div>

    <div class="playback-container"></div>
</div>