<% layout(_view.get('_layout/content')) %>

<h1 class="content-header mb-4">
    <span class="text-danger icon fa fa-sun"></span>
    Platform for turn-based browser online games
</h1>

<div class="row">
    <div class="col-lg-6">
        <div class="card mb-3">
            <div class="card-body">
                <h5 class="text-danger mb-0">Game club</h5>
            </div>
            <div class="card-footer text-center">
                <a href="club" class="btn-danger btn">Play</a>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-lg-6">
        <div class="card mb-3">
            <div class="card-body">
                <h5 class="text-primary mb-0">Administration module</h5>
            </div>
            <div class="card-footer text-center">
                <a href="admin" class="btn-primary btn">Control</a>
            </div>
        </div>
    </div>
</div>