<!-- _part/misc/footer -->
<footer class="main-footer">
  <div class="text-center">
    <a href="https://github.com/mkhorin/e-champ" target="_blank">Powered by E-Champ Platform</a>
    <small class="text-secondary">v2.7.1</small>
  </div>
</footer>