<!-- ru/default/_main -->
<div class="page" data-page="main" data-handler="MainPage">

    <h1>Игровой клуб</h1>

    <div class="alert alert-info">
        Для начала игры создайте новую комнату, присоединитесь к уже существующей или вернитесь к текущей.
    </div>

    <%- include(_view.get('_part/mainControls')) %>

    <div class="main-description">
        <div class="folder card">
            <div class="card-body">
                <h4 class="text-success">Создать</h4>
                <p>
                    Здесь вы можете создать новую комнату.
                    Выбрать игру, в которую собираетесь играть, а также ее параметры.
                    Указать типы и количество соперников.
                    <br>
                    Публичные комнаты доступны для присоединения всем желающим.
                    Чтобы получить доступ к скрытой комнате нужно указать ее идентификатор.
                </p>
            </div>
        </div>
        <div class="folder card">
            <div class="card-body">
                <h4 class="text-primary">Присоединиться</h4>
                <p>
                    Здесь вы можете присоединиться к комнате, которая набирает участников.
                    Публичные комнаты доступны в общем списке.
                    Чтобы присоединиться к скрытой комнате, вы должны указать ее идентификатор.
                </p>
            </div>
        </div>
        <div class="folder card">
            <div class="card-body">
                <h4 class="text-danger">Играть</h4>
                <p>
                    Перед началом игры здесь происходит сбор всех участников.
                    После начала вы может вернуться к текущей игре после перезагрузки страницы браузера.
                </p>
            </div>
        </div>
        <div class="folder card">
            <div class="card-body">
                <h4 class="text-secondary">Воспроизвести</h4>
                <p>Загрузите запись игры и посмотрите повтор.</p>
            </div>
        </div>
    </div>
</div>