<% layout(_view.get('_layout/content')) %>

<h1 class="content-header mb-4">
    <span class="text-danger icon fa fa-sun"></span>
    Платформа для пошаговых многопользовательских браузерных игр
</h1>

<div class="row">
    <div class="col-lg-6">
        <div class="card mb-3">
            <div class="card-body">
                <h5 class="text-danger mb-0">Игровой клуб</h5>
            </div>
            <div class="card-footer text-center">
                <a href="club" class="btn-danger btn">Играйте</a>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-lg-6">
        <div class="card mb-3">
            <div class="card-body">
                <h5 class="text-primary mb-0">Администрирование</h5>
            </div>
            <div class="card-footer text-center">
                <a href="admin" class="btn-primary btn">Управляйте</a>
            </div>
        </div>
    </div>
</div>